.edition cite { font-style:italic; font-size:1.3em; text-align:center; display:block; margin:1.4em 0 .6em; position:relative; z-index:1; }
.edition.secondary { margin-top:1.9em; }
.edition.secondary cite { line-height:1.2em; margin:0; }
