.edition cite { font-style:italic; font-size:1.2em; text-align:center; display:block; margin:.6em 0 1.3em; position:relative; z-index:1; }
.edition cite a { text-transform:capitalize; }
.edition.secondary { margin-top:1.9em; }
.edition.secondary cite { line-height:1.2em; margin:0; }