.flag { margin:3em auto 0; text-align:center; }
.flag h3 { font-family:'Hoefler Text'; font-size:10em; line-height:.6em; color:black; }
.flag h3 .letter_i { letter-spacing:-.035em; font-family:'Prince Valiant'; font-size:1.25em; position:relative; top:.03em; }
.flag h3 .letter_n { letter-spacing:-.05em; }
.flag h3 .letter_c { letter-spacing:-.04em; }
.flag h3 .letter_k { }
.flag img { z-index:-1; margin:0; }
.flag cite { font-size:1.2em; display:block; margin:.7em 0 1.4em; }
