.leader h1, 
.leader h2 { font-size:2.8em; line-height:1.12em; margin-top:.5em; padding-top:0; }
.leader.continued { -moz-column-count:2; -webkit-column-count:2; }
.leader.continued .read,
.leader.continued .read a { color:#bbb; }
.leader cite { line-height:2.2em; }
.leader p { font-size:1.4em; line-height:1.6em; margin-top:1.12em; text-align:justify; }
.leader hr { border:0; text-align:center; margin:0; height:0; }
.leader hr:after { content:"--"; }
.leader .dateline { font-size:.85em; text-transform:uppercase; }
.leader .dateline:after { content:" - "; }