.mark {
	width:1200px;
	margin:20px auto;
	
	-moz-transform:rotate(1.25deg);
	-moz-box-shadow:2px 1px 4px black;
	-webkit-transform:rotate(1.25deg);
	-webkit-box-shadow:2px 1px 4px black;
}


.mark .grid {
	margin-top:40px;
	-moz-transform:rotate(-1.75deg);
	-moz-box-shadow:2px 1px 4px black;
	-webkit-transform:rotate(-1.75deg);
	-webkit-box-shadow:2px 1px 4px black;
	background-color:white;
}