
.photograph_caption h3, .photograph_caption p { display:inline; margin-left:0; margin-right:0;}
.photograph_caption h3 { text-transform:uppercase; font-weight:bold; padding-right:3px;}
.photograph_caption h3:after { content:" ";}
.photograph_caption .photograph {margin:0;}
.photograph_caption .photograph img { width:190px;}
.photograph_caption .caption { margin-left:5px; margin-right:5px;}

.module.photograph_caption h3, .module.photograph_caption p, .module.photograph_caption cite { font-size:1.1em; line-height:1.4em;}

