.site_map {
	background-image: url(../../img/apartm-sitemap.png);
	min-height:194px;
	position:relative;
	background-position:-18px 10px;
}

.site_map img { display:none;}
.site_map dt.living_room + dd, .site_map dt.kitchen + dd, .site_map dt.studio + dd, .site_map dt.deck + dd {
	padding-left:19px;
	padding-right:19px;
	background-repeat:no-repeat;
	height:3.6em;
	line-height:3.6em;
	display:inline-block;
	position:absolute;
	font-size:1.1em;
}

.site_map dt.living_room + dd { background-image: url(../../img/arrow-bottom_right.png); background-position:right 68%; bottom:100px; left:0;}
.site_map dt.kitchen + dd { background-image: url(../../img/arrow-top_left.png); background-position:left 32%; bottom:4px; right:61px;}
.site_map dt.studio + dd { background-image: url(../../img/arrow-bottom_left.png); background-position:left 68%; top:10px; right:2px;}
.site_map dt.deck + dd { background-image: url(../../img/arrow-top_right.png); background-position:right 32%; bottom:0; left:0;}
.site_map dd a { text-transform:none;}