.site_navheader { line-height:3.6em; margin-top:20px;}
.site_navheader ul{ font-size:1.8em;}
.site_navheader li { display:inline-block; text-transform:uppercase; font-weight:lighter; height:100%;}
.site_navheader li:after { content:", "; }
.site_navheader li.last:after { content:""; }
.site_navheader li a { text-decoration:none; color:inherit; }
.site_navheader ul li:hover a,
.site_navheader li a.current { text-decoration:underline; }

.site_navheader ul:hover a { text-decoration:none;}
