.dog_ear { position:relative; }
.dog_ear section { font-family:'Gill Sans'; font-size:1.5em; line-height:1.1em; width:5.5em; padding:.5em 0; z-index:1; }
.dog_ear label { cursor:pointer; }

.dog_ear.right { right:0; }
.dog_ear.right section { text-align:right; }
.dog_ear.right section,
.dog_ear.right .page_fold,
.dog_ear.right .page_corner { position:absolute; right:0; }
.dog_ear.right .page_corner {
 	background-color:#fffffc;
	width:120px; height:120px;
	-webkit-box-shadow:-6px 5px 7px rgba(0,0,0,0.5); -moz-box-shadow:-6px 5px 7px rgba(0,0,0,0.5);
}
.dog_ear.right .page_fold {
	z-index:2;
	right:-20px; top:57px;
	width:160px; height:0;
	border:solid #eee; border-width:5px 0 0;
	-webkit-box-shadow:0 -6px 16px rgba(0,0,0,0.5); -moz-box-shadow:0 -5px 20px rgba(0,0,0,0.5);
	-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg);
}

.dog_ear.left { left:0; }
.dog_ear.left h3 { text-align:left; }
.dog_ear.left h3,
.dog_ear.left .page_fold,
.dog_ear.left .page_corner { position:absolute; left:0; }
.dog_ear.left .page_corner {
 	background-color:#fffffc;
	width:120px; height:120px;
	-webkit-box-shadow:6px 5px 7px rgba(0,0,0,0.5); -moz-box-shadow:6px 5px 7px rgba(0,0,0,0.5);
}
.dog_ear.left .page_fold {
	left:-20px; top:57px;
	width:160px; height:0;
	border:solid #eee; border-width:5px 0 0;
	-webkit-box-shadow:-7px -6px 16px rgba(0,0,0,0.5); -moz-box-shadow:0 -5px 20px rgba(0,0,0,0.5);
	-webkit-transform:rotate(315deg); -moz-transform:rotate(315deg);
}